<!DOCTYPE html>
<html ng-app="webLive">
	<head>
		<link href="style.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
		<link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
		<script src="https://code.angularjs.org/1.4.2/angular.js"></script>
		<script src="https://code.angularjs.org/1.4.2/angular-route.js"></script>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<script src="app.js" type="text/javascript"></script>
	</head>
	<body ng-controller="MainController">
		<div ng-if="!settingsView">
			<div class="web-live-container-1">
				<i class="ion-arrow-graph-up-right" style="color: limegreen;"></i>&nbsp;Stocks
				<i class="ion-android-settings" style="color: #697178; float: right; padding-right: 14px;" ng-click="openSettings()"></i>
			</div>
			<div class="web-live-container-2">
				<select class="select-company">
					<option ng-repeat="availableStock in availableStocks.NASDAQ">
						{{availableStock}}
					</option>
				</select>
				<i class="ion-edit" style="color: #697178; float: right; padding-right: 14px;" ng-click="editStocks()"></i>
			</div>
			<div class="stock-live-container-1" ng-repeat="stock in stockData">
				<span ng-if="editStock"><i class="ion-minus-circled"></i></span>
				<span class="stock-live-name">{{stock.name}}</span>
				<span class="stock-live-differential" align="center" ng-if="stock.percentChange>=0">&nbsp;{{stock.percentChange}} %&nbsp;</span>
				<span class="stock-live-differential-negative" align="center" ng-if="stock.percentChange<0">&nbsp;{{stock.percentChange}} %&nbsp;</span>
				<span class="stock-live-price" align="center">{{stock.lastPrice}}&nbsp;&nbsp;&nbsp;</span>
			</div>
		</div>
		<div ng-if="settingsView"><!-- ng-click="goToHome()"> -->
			<div class="settings-box">
				<span>
					Alert threshold :
				</span>
				<span class="input-box-container" my-enter="setThreshold()">
					<input ng-model="input.percentage" class="input-box">
				</span>
				<span>
					%
				</span>
			</div>
		</div>
	</body>
</html>