.web-live-container-1 {
	min-height: 30px !important;
	border-top: thin solid #81888e;
	border-bottom: thin solid #81888e;
	font-family: "Varela Round";
	font-size: 120%;
	padding: 7px 2px 2px 21px;
	color: #81888e;
}
.web-live-container-2 {
	min-height: 30px !important;
	border-bottom: thin solid #81888e;
	font-family: "Varela Round";
	font-size: 120%;
	padding: 7px 2px 2px 22px;
	color: #81888e;
}
body {
	margin: 0;
}
.stock-live-container-1 {
	font-family: "Varela Round";
	font-size: 90%;
	padding: 10px;
	padding-left: 22px;
}
.stock-live-name {
	width: 30%;
}
.stock-live-price {
	float: right;
	width: 40%;
}
.stock-live-differential {
	float: right;
	width: 30%;
	border: thin solid #6ada39;
	background-color: #6ada39;
	border-radius: 2px;
}
.stock-live-differential-negative {
	float: right;
	width: 30%;
	border: thin solid #ed473a;
	background-color: #ed473a;
	border-radius: 2px;
}

.settings-box {
	font-family: "Varela Round";
	padding: 5px;
}

.input-box {
	width: 30px;
}

.input-box-container {
	padding-left: 20px;
}

.select-company {
	background-color: #fff;
}

.stock-delete {
	color: #ed473a;
}

.news-title {
	color: #2976d1;
	text-decoration: none;
}

.news-publisher {
	color: #6c747a;
}